@import '../../../../../styles/variables.scss';

.signboard {
  color: white;
  background-color: rgb(55,75,155);
  border-radius: 10px;
}

.bg {
  background-color: white;
  border-radius: 10px;
  margin-left: 0;
  margin-right: 0;
}
