@import '../../../../../styles/variables.scss';

.signboard {
  color: white;
  background-color: rgb(55,75,155);
  border-radius: 10px;
}

.date-fix ::ng-deep ds-item-page-date-field ds-metadata-values ds-metadata-field-wrapper div.simple-view-element {
  margin-bottom: 0px;
  margin-right: 20px;

  h2.simple-view-element-header {
    text-align: right;
  }

  div.simple-view-element-body {
    text-align: right;
  }

  a {
    color: white;
    text-decoration: underline;

    :hover {
      text-decoration: none;
    }
  }
}

.col-gap {
  column-gap: 40px;

  &.d-flex.mobile-view {
    display: block !important;
  }
}

.hse-hr {
  width: 95%;
  height: 3px;
  border-radius: 100px;
  background-color: black;
}

.hr-mobile-view {
  display: none !important;
}

.bg {
  background-color: white;
  border-radius: 10px;
  margin-left: 0;
  margin-right: 0;
  padding: 12px;
  font-size: 18px;

  & ::ng-deep h2 {
    font-size: 23px !important;
    font-weight: 600;
  }
}
