<footer>
  @if (showTopFooter) {
    <div class="top-footer">
      <!-- Grid container -->
      <div class=" container p-4">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <h5 class="text-uppercase">Footer Content</h5>
            <ul class="list-unstyled mb-0">
              <li>
                <a routerLink="./" class="">Lorem ipsum</a>
              </li>
              <li>
                <a routerLink="./" class="">Ut facilisis</a>
              </li>
              <li>
                <a routerLink="./" class="">Aenean sit</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <h5 class="text-uppercase">Footer Content</h5>
            <ul class="list-unstyled mb-0">
              <li>
                <a routerLink="./" class="" role="link" tabindex="0">Suspendisse potenti</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase">Footer Content</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
              molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
              voluptatem veniam, est atque cumque eum delectus sint!
            </p>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
    </div>
  }
  <!-- Grid container -->

  <div>
    <div class="hse-footer-wrap">
      <div class="hse-footer-column">
        <div class="hse-footer-head">О вышке</div>
        <div class="hse-footer-link-wrap"><a class="hse-footer-link" href="https://www.hse.ru/figures/">Цифры и факты</a></div>
        <div class="hse-footer-link-wrap"><a class="hse-footer-link" href="https://www.hse.ru/orgstructure/">Руководство и структура</a></div>
        <div class="hse-footer-link-wrap"><a class="hse-footer-link" href="https://www.hse.ru/org/persons/">Преподаватели и сотрудники</a></div>
        <div class="hse-footer-link-wrap"><a class="hse-footer-link" href="https://www.hse.ru/buildinghse">Корпуса и общежития</a></div>
        <div class="hse-footer-link-wrap"><a class="hse-footer-link" href="https://www.hse.ru/org/hse/aup/procurement/">Закупки</a></div>
        <div class="hse-footer-link-wrap"><a class="hse-footer-link" href="https://www.hse.ru/appeal/">Обращения граждан в НИУ ВШЭ</a></div>
        <div class="hse-footer-link-wrap"><a class="hse-footer-link" href="https://endowment.hse.ru/">Фонд целевого капитала</a></div>
        <div class="hse-footer-link-wrap"><a class="hse-footer-link" href="https://www.hse.ru/anticorruption">Противодействие коррупции</a></div>
        <div class="hse-footer-link-wrap"><a class="hse-footer-link" href="https://www.hse.ru/anticorruption/information">Сведения о доходах, расходах, об&nbsp;омуществе и&nbsp;обязательствах имущественного характера</a></div>
        <div class="hse-footer-link-wrap"><a class="hse-footer-link" href="https://www.hse.ru/sveden/">Сведения об образовательной организации</a></div>
        <div class="hse-footer-link-wrap"><a class="hse-footer-link" href="https://inclusive.hse.ru/">Людям с ограниченными возможностями&nbsp;здоровья</a></div>
        <div class="hse-footer-link-wrap"><a class="hse-footer-link" href="https://pay.hse.ru/">Единая платежная страница</a></div>
      </div>
      <div class="hse-footer-column">
        <div class="hse-footer-head">Образование</div>
        <div class="hse-footer-link-wrap"><a class="hse-footer-link" href="https://school.hse.ru/">Лицей</a></div>
        <div class="hse-footer-link-wrap"><a class="hse-footer-link" href="https://fdp.hse.ru/">Довузовская подготовка</a></div>
        <div class="hse-footer-link-wrap"><a class="hse-footer-link" href="https://olymp.hse.ru/">Олимпиады</a></div>
        <div class="hse-footer-link-wrap"><a class="hse-footer-link" href="https://ba.hse.ru/">Прием в бакалавриат</a></div>
        <div class="hse-footer-link-wrap"><a class="hse-footer-link" href="https://www.hse.ru/plus">Вышка+</a></div>
        <div class="hse-footer-link-wrap"><a class="hse-footer-link" href="https://ma.hse.ru/">Прием в магистратуру</a></div>
        <div class="hse-footer-link-wrap"><a class="hse-footer-link" href="https://aspirantura.hse.ru/#">Аспирантура</a></div>
        <div class="hse-footer-link-wrap"><a class="hse-footer-link" href="https://busedu.hse.ru/">Дополнительное образование</a></div>
        <div class="hse-footer-link-wrap"><a class="hse-footer-link" href="https://busedu.hse.ru/corp-edu/">Корпоративное обучение</a></div>
        <div class="hse-footer-link-wrap"><a class="hse-footer-link" href="https://career.hse.ru/">Центр развития карьеры</a></div>
        <div class="hse-footer-link-wrap"><a class="hse-footer-link" href="https://career.hse.ru/">Карьерные карты</a></div>
        <div class="hse-footer-link-wrap"><a class="hse-footer-link" href="http://inc.hse.ru/">Бизнес-инкубатор ВШЭ</a></div>
      </div>
      <div class="hse-footer-column">
        <div class="hse-footer-head">Ресурсы</div>
        <div class="hse-footer-link-wrap"><a class="hse-footer-link" href="https://library.hse.ru/">Библиотека</a></div>
        <div class="hse-footer-link-wrap"><a class="hse-footer-link" href="https://id.hse.ru/">Издательский дом ВШЭ</a></div>
        <div class="hse-footer-link-wrap"><a class="hse-footer-link" href="https://bookshop.hse.ru/">Книжний интернет-магазин</a></div>
        <div class="hse-footer-link-wrap"><a class="hse-footer-link" href="https://bookshop.hse.ru/">Книжний магазин «БукВышка»</a></div>
        <div class="hse-footer-link-wrap"><a class="hse-footer-link" href="https://print.hse.ru/">Типография</a></div>
        <div class="hse-footer-link-wrap"><a class="hse-footer-link" href="https://mc.hse.ru/">Медиацентр</a></div>
        <div class="hse-footer-link-wrap"><a class="hse-footer-link" href="https://www.hse.ru/science/journals">Журналы ВШЭ</a></div>
        <div class="hse-footer-link-wrap"><a class="hse-footer-link" href="https://publications.hse.ru/">Публикации</a></div>
        <div class="hse-footer-link-wrap"><a class="hse-footer-link" href="https://moscow.hse.ru/">Университет, открытый городу</a></div>
        <div class="hse-footer-link-wrap"><a class="hse-footer-link" href="https://bookshop.hse.ru/souvenirs">Магазин HSE STORE</a></div>
      </div>
    </div>
  </div>

  <hr class="hse-footer-hr">

  <!-- Copyright -->
  <div class="bottom-footer p-1 d-flex flex-column flex-md-row justify-content-center align-items-center text-white">
    <div class="content-container align-self-center">
      <p class="m-0">
        <a class="text-white"
        href="http://www.dspace.org/" role="link" tabindex="0">{{ 'footer.link.dspace' | translate}}</a>
        {{ 'footer.copyright' | translate:{year: dateObj | date:'y'} }}
        <a class="text-white"
        href="https://www.lyrasis.org/" role="link" tabindex="0">{{ 'footer.link.lyrasis' | translate}}</a>
      </p>
      <ul class="footer-info list-unstyled d-flex justify-content-center mb-0">
        @if (showCookieSettings) {
        <li>
          <button class="btn btn-link text-white" type="button" (click)="openCookieSettings()" role="button" tabindex="0">
            {{ 'footer.link.cookies' | translate}}
          </button>
        </li>
        }
        <li>
          <a class="btn text-white"
             routerLink="info/accessibility" role="link" tabindex="0">{{ 'footer.link.accessibility' | translate }}</a>
        </li>
        @if (showPrivacyPolicy) {
          <li>
            <a class="btn text-white"
            routerLink="info/privacy" role="link" tabindex="0">{{ 'footer.link.privacy-policy' | translate}}</a>
          </li>
        }
        @if (showEndUserAgreement) {
          <li>
            <a class="btn text-white"
            routerLink="info/end-user-agreement" role="link" tabindex="0">{{ 'footer.link.end-user-agreement' | translate}}</a>
          </li>
        }
        @if (showSendFeedback$ | async) {
          <li>
            <a class="btn text-white"
            routerLink="info/feedback" role="link" tabindex="0">{{ 'footer.link.feedback' | translate}}</a>
          </li>
        }
      </ul>
    </div>
    @if (coarLdnEnabled$ | async) {
      <div class="notify-enabled text-white align-self-end">
        <a class="coar-notify-support-route" routerLink="info/coar-notify-support" role="link" tabindex="0">
          <img class="n-coar" src="assets/images/n-coar.svg" [attr.alt]="'menu.header.image.logo' | translate" />
          {{ 'footer.link.coar-notify-support' | translate }}
        </a>
      </div>
    }
  </div>
  <!-- Copyright -->
</footer>
