:host {
  footer {
    background-color: var(--ds-footer-bg);
    text-align: center;
    z-index: var(--ds-footer-z-index);
    border-top: var(--ds-footer-border);
    padding: var(--ds-footer-padding);
    padding-left: 64px;
    padding-bottom: 10px;

    &.footer-mobile-view {
      padding-left: 32px !important;
    }

    p {
      margin: 0;
    }

    div > img {
      height: var(--ds-footer-logo-height);
    }


    .top-footer {
      background-color: var(--ds-top-footer-bg);
      padding: var(--ds-footer-padding);
      margin: calc(var(--ds-footer-padding) * -1);
    }

    .hse-footer-wrap {
      display: flex;
      column-gap: 50px;

      &.mobile-view {
        display: block !important;
        font-size: 18px !important;
      }

      .hse-footer-column{
        flex: 1 1 0;

        .hse-footer-head {
          font-size: 18px;
          font-weight: 600;
          text-align: left;
          color: white;
          margin-bottom: 16px;

          &.mobile-view {
            font-size: 24px !important;
          }
        }

        .hse-footer-link-wrap{
          display: flex;
          justify-content: flex-start;
          text-align: left;
          margin-bottom: 10px;

          .hse-footer-link{
            color: #ffffff99;

            &:hover{
              color: white;
              text-decoration: none;
            }
          }
        }
      }
    }

    .hse-footer-hr{
      color: #ffffff8c;
      margin-top: 48px;
      margin-bottom: 24px;

      &.mobile-view {
        display: none !important;
      }
    }

    .bottom-footer {

      &.mobile-view {
        display: none !important;
      }

      .notify-enabled {
        position: relative;
        margin-top: 4px;

        .coar-notify-support-route {
          padding: 0 calc(var(--bs-spacer) / 2);
          color: inherit;
        }

        .n-coar {
          height: var(--ds-footer-n-coar-height);
          margin-bottom: 8.5px;
        }

        @media screen and (min-width: map-get($grid-breakpoints, md))  {
          position: absolute;
          bottom: 4px;
          right: 0;
        }
      }
      ul {
        li {
          display: inline-flex;

          a, .btn-link {
            padding: 0 calc(var(--bs-spacer) / 2);
            color: inherit;
            font-size: .875em;

            &:focus {
              box-shadow: none;
              text-decoration: underline;
            }

            &:focus-visible {
              box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
            }
          }

          &:not(:last-child) {
            &:after {
              content: '';
              border-right: 1px var(--bs-secondary) solid;
            }

          }
        }
      }
    }

    .btn {
      box-shadow: none;
    }
  }
}



