<div class="container">
  <div class="block-bg contacts-txt">
    <p>
      <b>Авторы проекта:</b><br>
      Поляков Максим Родионович - <a href="mailto:mrpolyakov@edu.hse.ru">mrpolyakov@edu.hse.ru</a><br>
      Череухо Дмитрий Антонович - <a href="mailto:dachereukho@edu.hse.ru">dachereukho@edu.hse.ru</a>
    </p>
    <p style="margin-bottom: 0;">
      <b>Под руководством:</b><br>
      Салех Хади Мухаммед - <a href="mailto:hsalekh@hse.ru">hsalekh@hse.ru</a>
    </p>
  </div>
  <div style="position:relative;overflow:hidden;" class="block-bg">
    <iframe src="https://yandex.ru/map-widget/v1/?ll=37.650064%2C55.753925&z=18.54" width="100%" height="420" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
  </div>
</div>
