:host {
  display: block;

  div.background-image-container {
    color: #000000;
    position: relative;
    font-weight: 600;

    h1.display-3 {
      &.mobile-view {
        font-size: 2rem !important;
      }
    }

    .background-image > img {
      background-color: var(--bs-info);
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }

    .container {
      position: relative;

      &:before, &:after {
        content: '';
        display: block;
        width: var(--ds-banner-background-gradient-width);
        height: 100%;
        top: 0;
        position: absolute;
      }

      &:before {
        background: linear-gradient(to left, var(--ds-banner-text-background), transparent);
        left: calc(-1 * var(--ds-banner-background-gradient-width));

      }

      &:after {
        background: linear-gradient(to right, var(--ds-banner-text-background), transparent);
        right: calc(-1 * var(--ds-banner-background-gradient-width));
      }

      background-color: var(--ds-banner-text-background);
    }


    small.credits {
      a {
        color: inherit;
      }

      opacity: 0.3;
      position: absolute;
      right: var(--bs-spacer);
      bottom: 0;
    }
  }

  .home-news-content {
    background-color: transparent;

    h1.heading-font{
      font-size: 3rem;
      font-family: 'HSE Slab';
    }
  }

  a {
    color: var(--ds-home-news-link-color);
    text-decoration: underline dashed !important;

    &:hover {
      color: var(--ds-home-news-link-hover-color);
    }
  }

  .lead {
    font-size: 1.25rem;
    font-weight: 400;
  }
}


