<div class="container">
  <div class="about-wrapper">
    <h1 class="about-header-text">О репозитории</h1>
    <p class="about-text">Данный ресурс используется в целях обеспечения свободного доступа к научным трудам, что были созданы
      сотрудниками или обучающимися в НИУ ВШЭ.
    </p>
    <p class="about-text">Программа предназначена для использования в составе Портала институционального репозитория
      НИУ ВШЭ на базе платформы DSpace и обеспечивает функционирование его клиентской части.</p>
    <p class="about-text">
      Клиентская часть системы предназначена для предоставления пользователям
      доступа к научным материалам, хранящимся в репозитории, а также к связанным внешним
      источникам научной информации. Она обеспечивает реализацию пользовательского
      интерфейса Портала, взаимодействие с серверной частью и модулями интеграции, а также
      поддержку функционала поиска, просмотра, загрузки и управления контентом</p>
  </div>
</div>
