@import '../../../../../../../styles/variables';

.item-list-supervision {
    a {
        cursor: pointer;
    }
}

.custom-style{
  background-color: white;
  transition:
  border-color ease-in-out 0.3s,
  box-shadow ease-in-out 0.3s;
  &:hover {
    border-color: #0fa0d7;
    box-shadow: 0px 5px 10px gray;
  }
}
